:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

*,
body {
  font-family: 'Rubik', sans-serif;
}

body, main {
  overflow-x: hidden;
}

.bg-blue {
  background-color: var(--soft-blue);
}

.bg-red {
  background-color: var(--soft-red);
}

.font-grayish-blue {
  color: var(--grayish-blue);
}

.font-very-dark-blue {
  color: var(--very-dark-blue);
}

#header .navbar-brand,
#header .navbar-toggler {
  z-index: 1;
}

#header .switch-brand-image,
#header .switch-brand-image ~ .navbar-toggler {
  margin-top: 5px;
}

#header .navbar-brand img:last-child {
  display: none;
}

#header .navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
  filter: opacity(0.9);
}

#header .navbar-nav {
  flex-flow: row wrap;
  margin-top: 70px;
  padding: 5px 15px;
  height: calc(100% - 80px);
}

#header .nav-item {
  width: 100%;
  border-top: 1px solid var(--grayish-blue);
}

#header .nav-link {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  font-size: 18px;
}

#header .nav-item:nth-child(4) .nav-link {
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 8px 0;
  font-weight: 500;
}

#header .nav-item:last-child {
  border: 0;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.mobile-menu-active {
  overflow: hidden;
}

#hero {
  margin-top: 50px;
}

#hero .order-md-2 {
  position: relative;
}

#header .switch-brand-image img:nth-child(1) {
  display: none;
}

#header .switch-brand-image img:nth-child(2) {
  display: block;
}

#hero .illustration-image {
  z-index: 1;
}

#hero .image-blue-bg {
  position: absolute;
  bottom: -10px;
  right: 0;
  border-bottom-left-radius: 100px;
  z-index: -1;
  width: 80%;  
  height: 80%;
}

#hero .btn.bg-blue {
  color: #fff;
}

#hero button {
  padding: 8px 10px;
}

@media screen and (min-width: 576px) {
  #hero .order-md-2 {
    text-align: center;
  }
  
  #hero .image-blue-bg {
    right: -4rem;
  }

  #hero .img-fluid {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  #header .navbar-collapse {
    position: unset;
    background-color: unset;
    height: initial;
    width: initial;
    filter: unset;
  }

  #header .navbar-nav {
    flex-flow: unset;
    margin-top: unset;
    padding: 0;
  }

  #header .nav-item {
    border: 0;
    width: initial;
  }

  #header .nav-link {
    color: var(--very-dark-blue);
    font-size: 16px;
    margin: 6px 0 0 15px;
    padding: 5px 10px;
  }

  #header .nav-item:nth-child(4) .nav-link {
    background-color: var(--soft-red);
    color: #fff;
    padding: 8px 35px;
    border: 0;
    margin-top: 0;
    font-weight: initial;
  }

  #header .nav-item:last-child {
    display: none;
  }

  #header .navbar-brand img {
    height: 26px;
  }

  #hero button {
    padding: 8px 20px;
  }

  #hero .img-fluid {
    max-width: 100%;
  }
 
  #hero .image-blue-bg {
    width: 100%;
    height: 75%;
    bottom: -2%;
    right: -30%;
  }
}

@media screen and (min-width: 976px) {
  #hero button {
    padding: 8px 30px;
  }

  #hero .order-md-1 h1,
  #hero .order-md-1 p {
    max-width: 500px;
  }
}
