:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

*,
body {
  font-family: 'Rubik', sans-serif;
}

body,
main {
  overflow-x: hidden;
}

section {
  margin-top: 50px;
}

.bg-blue {
  background-color: var(--soft-blue);
}

.bg-red {
  background-color: var(--soft-red);
}

.font-grayish-blue {
  color: var(--grayish-blue);
}

.font-very-dark-blue {
  color: var(--very-dark-blue);
}

#header .navbar-brand,
#header .navbar-toggler,
#hero .illustration-image,
#features .illustration-image {
  z-index: 1;
}

#header .switch-brand-image,
#header .switch-brand-image ~ .navbar-toggler {
  margin-top: 5px;
}

#header .navbar-brand img:last-child {
  display: none;
}

#header .navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
  filter: opacity(0.9);
}

#header .navbar-nav {
  flex-flow: row wrap;
  margin-top: 70px;
  padding: 5px 15px;
  height: calc(100% - 80px);
}

#header .nav-item {
  width: 100%;
  border-top: 1px solid var(--grayish-blue);
}

#header .nav-link {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  font-size: 18px;
}

#header .nav-item:nth-child(4) .nav-link {
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 8px 0;
  font-weight: 500;
}

#header .nav-link:hover {
  color: var(--soft-red)
}

#header .nav-item:nth-child(4) .nav-link:hover {
  background-color: #fff;
  border-color: var(--soft-red);
  color: var(--soft-red);
}

#header .nav-item:last-child {
  border: 0;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.mobile-menu-active {
  overflow: hidden;
}

#hero .order-md-2,
#features .illustration-image {
  position: relative;
}

#header .switch-brand-image img:nth-child(1) {
  display: none;
}

#header .switch-brand-image img:nth-child(2) {
  display: block;
}

#hero .image-blue-bg,
#features .image-blue-bg {
  position: absolute;
  bottom: -10px;
  right: 0;
  border-bottom-left-radius: 100px;
  z-index: -1;
  width: 80%;
  height: 80%;
}

#hero .btn.bg-blue,
#features .bg-blue {
  color: #fff;
}

#hero button {
  padding: 8px 10px;
  border: 2px solid transparent;
}

#hero button:hover {
  background-color: #fff;
}

#hero .btn.bg-blue:hover {
  color: var(--soft-blue);
  border-color: var(--soft-blue);
}

#hero .btn.shadow:hover {
  color: var(--very-dark-blue);
  border-color: var(--very-dark-blue);
}

#features,
#download {
  margin-top: 100px;
}

#features .col-12 h2,
#features .col-12 p,
#download .col-12 h2,
#download .col-12 p {
  max-width: 500px;
  margin: auto;
}

#features .nav {
  flex-direction: column;
}

#features .nav .nav-item {
  border-bottom: 1px solid var(--grayish-blue);
}

#features .nav .first-nav-item {
  border-top: 1px solid var(--grayish-blue);
}

#features .nav .nav-link {
  display: inline-block;
  width: fit-content;
  padding: 15px;
  color: var(--grayish-blue);
  position: relative;
}

#features .nav .nav-link::after {
  content: '';
  display: block;
  width: calc(90% - 30px);
  height: 4px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 24px;
}

#features .nav .nav-item:last-child .nav-link::after {
  left: 22px;
}

#features .nav .nav-link:hover {
  color: var(--soft-red);
}

#features .nav .active {
  color: var(--very-dark-blue);
}

#features .nav .active::after {
  background-color: var(--soft-red);
}

#features .tab {
  margin-top: 70px;
  display: none;
}

#features .tab.active {
  display: flex;
}

#features button {
  display: none;
  bordeR: 2px solid transparent;
}

#features button:hover {
  color: var(--soft-blue);
  background-color: #fff;
  border-color: var(--soft-blue);
}

#features .illustration-image .image-blue-bg {
  width: 83%;
  height: 80%;
  left: 0px;
  bottom: -45px;
  right: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 100px;
}

#features .tab .img-fluid {
  max-width: 95%;
}

#features .col-lg-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
}

#download .card {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 80px 0 20px 0;
}

#download .card .card-img-top {
  max-width: 30%;
  height: auto;
  margin: auto;
}

#download .btn {
  margin-top: 90px;
  width: 100%;
  padding: 10px 30px;
  color: #fff;
  border: 2px solid transparent;
}

#download .btn:hover {
  color: var(--soft-blue);
  background-color: #fff;
  border-color: var(--soft-blue);
}

#download .card-separation {
  position: absolute;
  left: -1%;
  bottom: 27%;
  width: 102%;
  border-bottom: 5px dotted #ccc;
}

@media screen and (min-width: 576px) {
  #hero .order-md-2 {
    text-align: center;
  }

  #hero .image-blue-bg {
    right: -4rem;
  }

  #hero .img-fluid,
  #features .tab .img-fluid {
    max-width: 80%;
  }

  #features .nav {
    justify-content: center;
    flex-direction: row;
  }

  #features .nav .first-nav-item {
    border-top: none;
  }

  #features .nav .nav-link {
    padding: 15px 30px;
  }

  #features .nav .nav-link::after {
    width: 100%;
    left: 0 !important;
  }

  #features .illustration-image .image-blue-bg {
    left: -40px;
  }

  #download .btn {
    width: initial;
  }
}

@media screen and (min-width: 768px) {
  #header .navbar-collapse {
    position: unset;
    background-color: unset;
    height: initial;
    width: initial;
    filter: unset;
  }

  #header .navbar-nav {
    flex-flow: unset;
    margin-top: unset;
    padding: 0;
  }

  #header .nav-item {
    border: 0;
    width: initial;
  }

  #header .nav-link {
    color: var(--very-dark-blue);
    font-size: 16px;
    margin: 6px 0 0 15px;
    padding: 5px 10px;
  }

  #header .nav-item:nth-child(4) .nav-link {
    background-color: var(--soft-red);
    color: #fff;
    padding: 8px 35px;
    border-color: transparent;
    margin-top: 0;
    font-weight: initial;
  }

  #header .nav-item:last-child {
    display: none;
  }

  #header .navbar-brand img {
    height: 26px;
  }

  #hero button {
    padding: 8px 15px;
  }

  #hero .img-fluid,
  #features .tab .img-fluid {
    max-width: 100%;
  }

  #hero .image-blue-bg {
    width: 100%;
    height: 75%;
    bottom: -2%;
    right: -30%;
  }

  #features button {
    display: block;
    padding: 8px 30px;
  }

  #features .col-lg-5 {
    margin-top: 0;
  }

  #features .col-lg-5 h2,
  #features .col-lg-5 p {
    margin: unset;
  }

  #download .btn {
    width: 100%;
  }

  #download .col-md-4 {
    width: 30%;
    height: fit-content;
  }
  
  #download .col-md-4:nth-child(2) {
    margin-top: 50px;    
  }

  #download .col-md-4:nth-child(3) {
    margin-top: 100px;
  }

  #download .card-separation {
    bottom: 33%;
  }
}

@media screen and (min-width: 976px) {
  #hero button {
    padding: 8px 30px;
  }

  #hero .order-md-1 h1,
  #hero .order-md-1 p {
    max-width: 500px;
  }
}

@media screen and (min-width: 1004px) {
  #download .card-separation {
    bottom: 27%;
  }
}
